<!--class="container">
  <mat-form-field class="search-field" color="warn" appearance="outline">
      <mat-label>search informations</mat-label>
      <input matInput>
      <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>--> 

  <mat-card class="info-card">
      <mat-card-title><h1>Badr Bernane</h1></mat-card-title>
      <mat-card-content>
        <h4>Software Engineer</h4>
        <div>
          <mat-icon class="fa fa-facebook">facebook</mat-icon>
          <mat-icon class="fa fa-linkedin">linkedin</mat-icon>
          <mat-icon class="fa fa-instagram">instagram</mat-icon>
          <mat-icon class="fa fa-twitter">twitter</mat-icon>
        </div>
      </mat-card-content>
  </mat-card>

  <mat-card class="in">
      <mat-card-title>Téléphone</mat-card-title>
  </mat-card>

  <mat-card class="image-card">
      <img mat-card-image src="badr.jpeg" alt="Image">
  </mat-card>

  <mat-card class="description-card">
      <mat-card-content>
          <p>Description</p>
      </mat-card-content>
  </mat-card>














<!--<mat-form-field color="warn" appearance="outline">
    <mat-label>search informations</mat-label>
    <input matInput>
    <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>



















  <mat-card-actions class="modif">
    <a mat-stroked-button color="accent" routerLink="/modifperson">UPDATE PROFILE</a>
  </mat-card-actions>-->
