mat-card{
    width: max-content;
    margin-bottom: 1rem;
    background-color: rgb(247, 236, 219);
}
mat-form-field{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

p{
    font-size: large;
}

.bricol{
    width: 20%;
    margin-left: 30rem;
}

.smayka{
    margin-left: 5rem;
}

.y{
    width: 40%;
}

.bot{
    margin-left: 50px;
}
mat-expansion-panel{
    margin-bottom: 1rem;
}

section.table{
    min-width: 700px;
    max-width: 1200px;
}


th.f{
    font-size: large;
    color: rgb(60, 145, 116);
    font-style: italic;
}

button{
    margin-left: 10px;
}
