mat-card{
    width: max-content;
    margin-bottom: 1rem;
    background-color: rgb(39, 37, 34);
}
mat-form-field{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

p{
    font-size: large;
}

button{
    width: 20%;
    margin-left: 50rem;
}

.smayka{
    margin-left: 5rem;
}

.y{
    width: 40%;
}

.bot{
    margin-left: 50px;
}
mat-expansion-panel{
    margin-bottom: 1rem;
}