.insert-exp{
    margin-bottom: 2rem;
    p{
        color: aqua;
        size: 0cap;
    }
}

mat-form-field{
    margin-right: 1rem;
}

.entre{
    width: 150px;
}


section.table{
    min-width: 700px;
    max-width: 1200px;
}


th.f{
    font-size: large;
    color: rgb(60, 145, 116);
    font-style: italic;
}

button{
    margin-left: 10px;
}
