mat-card{
    width: 500px;
    margin-left: 17rem;
    margin-top: 2.5rem;
}

mat-form-field{
    width: 100%;
    margin-top: 2rem;
}

.but{
    width: 200px;
    margin-left: 9rem;
}

.sghiwr{
    width: 70%;
}

.sghi{
    width: 20%;
    margin-right: 2rem;
}