.insert-exp{
    margin-bottom: 2rem;
    p{
        color: rgb(233, 151, 28);
        size: 0cap;
    }
}

mat-form-field{
    margin-right: 1rem;
}

.entre{
    width: 150px;
}

button{
    margin-left: 10px;
}

.idd{
    width: 90px;
}

.date{
    width: 170px;
}

.src{
    width: 300px;
}
