mat-card{
    text-align: center;
    margin: 0.1rem auto;
    width: 90%;
    height: 10%;
    border: 0.5px solid rgb(186, 186, 240);
}

p{
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem;
}

mat-nav-list{
    height: 663px;
    border-right: 0.5px solid rgb(186, 186, 240);
}

a{
    margin-top: 3%;
    margin-left: 0.5%;
}

